CompileFlags:
  CompilationDatabase: build/ninja/dist
  Compiler: clang++
  Remove:
    - -std=*
  Add:
    - -xc++
    - -std=c++23
Diagnostics:
  UnusedIncludes: None
---
If:
  PathMatch: .*\.cppm
Diagnostics:
  Suppress:
    - "*"
